name: CI
on: [push, pull_request]

jobs:

  build-windows-msvc:
    name: Build Windows MSVC
    runs-on: windows-2019

    strategy:
      matrix:
       include:
         - buildtype: "release"
         - buildtype: "debug"

    steps:

      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x86_64
          toolset: 14.29

      - uses: actions/checkout@v1.2.0

      - name: ls
        run: dir ${{github.workspace}}

      - name: Add safe git directory
        shell: bash
        run: git config --global --add safe.directory /__w/msvc-compile-test/msvc-compile-test

      - name: ls
        shell: bash
        run: ls -la /d/a/msvc-compile-test/msvc-compile-test

      - name: Delete conflicting files
        shell: bash
        run: |
          rm -f /c/programdata/chocolatey/bin/{addr2line.exe,ar.exe,as.exe,c++.exe,c++filt.exe,cc1.exe,cc1plus.exe,cpp.exe,g++.exe,gcc-ar.exe,gcc-nm.exe,gcc-ranlib.exe,gcc.exe,gdb.exe,gfortran.exe,ld.bfd.exe,ld.exe,ld.gold.exe,nm.exe,ranlib.exe,readelf.exe,windres.exe,x86_64-w64-mingw32-c++.exe,x86_64-w64-mingw32-g++.exe,x86_64-w64-mingw32-gcc-8.1.0.exe,x86_64-w64-mingw32-gcc-ar.exe,x86_64-w64-mingw32-gcc-nm.exe,x86_64-w64-mingw32-gcc-ranlib.exe,x86_64-w64-mingw32-gcc.exe,x86_64-w64-mingw32-gfortran.exe}
          rm -f /c/strawberry/c/bin/{addr2line.exe,ar.exe,as.exe,c++.exe,c++filt.exe,cpp.exe,g++.exe,gcc-ar.exe,gcc-nm.exe,gcc-ranlib.exe,gcc.exe,ld.exe,nm.exe,ranlib.exe,readelf.exe,widl.exe,windmc.exe,windres.exe,x86_64-w64-mingw32-c++.exe,x86_64-w64-mingw32-g++.exe,x86_64-w64-mingw32-gcc-8.3.0.exe,x86_64-w64-mingw32-gcc-ar.exe,x86_64-w64-mingw32-gcc-nm.exe,x86_64-w64-mingw32-gcc-ranlib.exe,x86_64-w64-mingw32-gcc.exe,x86_64-w64-mingw32-gfortran.exe}


      - name: sources
        shell: bash
        run: mkdir sources


      - name: Download libgme
        uses: suisei-cn/actions-download-file@v1
        with:
          url: "libgme [this](https://bitbucket.org/mpyne/game-music-emu/downloads/game-music-emu-0.6.3.tar.xz)!"
          target: downloads/
          auto-match: true

      - name: Extract libgme
        shell: bash
        working-directory: sources
        run: tar -xf ../downloads/game-music-emu-0.6.3.tar.xz

      - name: Compile libgme
        shell: cmd
        env:
          CL: "/MP"
        working-directory: sources/game-music-emu-0.6.3
        run: |
          mkdir build
          cd build
          cmake .. -G "NMake Makefiles" -DCMAKE_BUILD_TYPE=${{ matrix.buildtype }} -DCMAKE_INSTALL_PREFIX="c:\msvc_x86_64"
          cmake --build .
          cmake --install .
